{% extends 'base.html' %}
{% block content %}
<style>
.myCheckbox{
    width:2rem;
    height:2rem;
}
.scroll {
    max-height: 100px;
    overflow-y: auto;
}
</style>
<div class="row mt-5">
    <div class="col-lg-6 my-1">
        <div class="card m-0">
            <div class="card-header border-bottom border-default">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4 style="color:black;"><b>Add Your Link</b></h4>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-lg-12 col-md-12 cms-search">
                        <form class="form-inline mt-2 mb-5" method="POST" id="myform">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="col-lg-12 col-md-12 col-12 mt-2 row">
                                <label class="control-label col-sm-1 col-md-1 col-12 mt-2" style="color:black;"><b>{{field.label}}</b></label>
                                {{field}}
                            </div>
                            {% endfor %}
                            <div class="col-lg-12 col-md-12 mt-2 col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-info">Save Link</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    {% for link in request.user.Link.all %}
    <div class="col-lg-6 card my-1 h-100" style="overflow-y: auto;">
        <div class="card my-2">
            <div class="card-header border-bottom border-default">
                <div class="row">
                    <div class="col-xl-10 col-md-10 col-sm-10 col-12">
                        <b style="color:black;">{{link.title}}</b>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-2 col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <a href="{{link.url}}">{{link.url}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
    
    
