{% extends 'base.html' %}
{% block content %}
<style>
    .myCheckbox {
        width: 2rem;
        height: 2rem;
    }

    .scroll {
        max-height: 100px;
        overflow-y: auto;
    }
</style>
<div class="row mt-5">
    <div class="col-lg-6 my-1">
        <div class="card m-0">
            <div class="card-header border-bottom border-default">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4 style="color:black;"><b>Add Your Link</b></h4>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-lg-12 col-md-12 cms-search">
                        <form class="form-inline mt-2 mb-5" method="POST" id="myform">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="col-lg-12 col-md-12 col-12 mt-2 row">
                                <label class="control-label col-sm-1 col-md-1 col-12 mt-2"
                                    style="color:black;"><b>{{field.label}}</b></label>
                                {{field}}
                            </div>
                            {% endfor %}
                            <div class="col-lg-12 col-md-12 mt-2 col-12 d-flex justify-content-center">
                                <input type="submit" class="btn btn-info" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 card my-1 h-100" style="overflow-y: auto; max-height:30rem;" id="My_Links">
        {% for link in request.user.Link.all reversed %}
        <div class="card my-2">
            <div class="card-header border-bottom border-default">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <b style="color:black;">{{link.title}}</b>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <a href="{{link.url}}">{{link.url}}</a>
                <hr>
                {{link.created_date}}
                <a class="btn btn-danger" href="{% url 'Delete_Link' link.id %}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    
    $("#myform").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        console.log('serializedData--',serializedData)
        $.ajax({
            type: 'POST',
            url: "{% url 'Post_Link' %}",
            data: serializedData,
            success: function (response) {
                $("#myform").trigger('reset');
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];
                console.log(fields)
                swal({
                    text: "Link Added Successfully",
                    icon: "success",
                    button: "OK",
                });  
                $("#My_Links").prepend(
                  ` <div class="card my-2">
                        <div class="card-header border-bottom border-default">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <b style="color:black;">${fields['title']}</b>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <a href="${fields['url']}">${fields['url']}</a>
                            <hr>
                            ${fields['created_date']}
                            
                        </div>
                    </div>`   
                )
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock content %}