<nav class="navbar navbar-expand-lg navbar-light bg-info">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Price_Tracker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MyLink' %}">MyLinks</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Tags/Title" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if request.user %}
        <a href="{% url 'Logout' %}" class="ml-1 btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</a>
        {% else %}
        <a href="{% url 'Login' %}" class="ml-1 btn btn-outline-warning my-2 my-sm-0" type="submit">Login</a>
        {% endif %}
    </div>
</nav>